[Socket]
ListenStream={{socket_http}}
SocketUser={{socket_http_user}}
SocketGroup={{socket_http_group}}
MaxConnections=4
FileDescriptorName=http.listen.socket

[Install]
RequiredBy={{name}}.service
